{% extends 'authenticated_base.html' %}
{% load bootstrap %}
{% block content %}
    {% if bounded %}
        {% if not created %}
            <div class="alert alert-danger" style="margin-left:5%;width:50%">
                Question already exist!!
            </div>
        {% else %}
            <div class="alert alert-success" style="margin-left:5%;width:50%">
                Question created successfully!!
            </div>
        {% endif %}
    {% endif %}
    <div style="position: relative; width: 40%;margin: 5%;">
        <form id="question_input_form" style="margin: 5%" action="/ask-question" method="post">
            {% csrf_token %}
            {{form | bootstrap}}
            <button type="submit" class="btn btn-primary" style="margin-top: 5px">
                Submit
            </button>
        </form>
    </div>
{% endblock %}