{% extends 'allauth/account/allauth_base.html' %}
{% load bootstrap %}

{% block content %}
    <div id="login_form" style="position: relative;left: 40%; width: 20%">
       <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{form | bootstrap }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-primary" type="submit">Login</button>
        </form>
        <div style="margin-top: 10px;">
            <span style="padding:10px"><a href="/accounts/signup/">Sign Up</a></span>
            <span><a href="/accounts/password/reset/">Forgot password?</a></span>
        </div>
    </div>

{% endblock %}

