{% extends 'allauth/account/allauth_base.html' %}

{% block content %}
    <div style="position:relative; left:35%; width: 30%">
        <div>
            <h4>Are you sure you want to sign out?</h4>
        </div>
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
          {% endif %}
          <button class="btn btn-primary" type="submit">Sign out</button>
        </form>
    </div>
{% endblock %}
