{% extends 'allauth/account/allauth_base.html' %}
{% load bootstrap %}


{% block content %}
    <div style="margin:10%">
        <h5>
            Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.
        </h5>
        <div style="position:absolute; width:40%">
            <form method="POST" action="" >
                {% csrf_token %}
                {{ password_reset_form| bootstrap }}
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">
                        Reset my password
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block appjs_jquery %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
