{% extends 'allauth/account/allauth_base.html' %}
{% load bootstrap %}

{% block content %}
    <div style="position: relative; left:35%; width: 30%">
        <div>
            <h5>Already have an account? <span><a href="{{ login_url }}">Sign In</a></span></h5>
        </div>
        <form id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{form | bootstrap}}
          {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="form-actions">
            <button class="btn btn-primary" type="submit">Sign Up</button>
          </div>
    </form>
    </div>
{% endblock %}

